@page
@model KBAGA.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KBAGA.styles.css" asp-append-version="true" />
</head>

<div class="abt">

    <section class="about" id="about">

        <h3 class="sub-heading"> about us </h3>
        <h1 class="heading"> why choose us? </h1>

        <div class="row">

            <div class="image">
                <img src="~/css/images/BGR2.gif" alt="">
            </div>

            <div class="content">
                <h3>best food in the country</h3>
                <p>
                    Krusty Bugaa is your go-to spot for mouthwatering burgers crafted with passion and creativity.
                    Our mission is simple: to bring you the juiciest, most flavorful burgers, served with a smile in a fun and inviting atmosphere.
                </p>
                <p>
                    At Krusty Bugaa, we pride ourselves on using only the freshest, highest-quality ingredients.
                    From our 100% grass-fed beef patties to our house-made sauces and freshly baked buns, 
                    every element of our burgers is thoughtfully prepared to ensure a delicious experience in every bite.
                </p>
                <p>
                    Come on in, relax, and enjoy the best burgers in town. We can't wait to serve you!
                </p>

            </div>

        </div>

    </section>

</div>

