@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KBAGA.styles.css" asp-append-version="true" />
</head>

<div class="home-container">

    <section class="home" id="home">

        <div class="content">
            <h3>Taste the extraordinary, and let your palate eclipse the ordinary.</h3>
            <p>Your ultimate destination for handcrafted, mouthwatering burgers that are as visually stunning as they are delicious.</p>
            <a href="MENU" class="btn">order now</a>
        </div>

        <div class="image">
            <img src="~/css/images/home-img.png" alt="">
        </div>

    </section>

</div>


<div class="pds">

    <section class="dishes" id="dishes">

        <h1 class="heading">popular choices</h1>

        <div class="box-pds">

            <div class="box">
                <img src="~/css/images/B1.jpg" alt="Dish Image">
                <h3>The Classic All-American</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>          
                </div>
                <span>$9.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

            <div class="box">
                <img src="~/css/images/B3.jpg" alt="Dish Image">
                <h3>Smoky Black BBQ Burger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>$12.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

            <div class="box">
                <img src="~/css/images/B5.jpg" alt="Dish Image">
                <h3>Southern Fried Chicken Burger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>$15.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

            <div class="box">
                <img src="~/css/images/B7.jpg" alt="Dish Image">
                <h3>The Breakfast Burger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>$11.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

            <div class="box">
                <img src="~/css/images/B8.jpg" alt="Dish Image">
                <h3>Spicy Jalapeño Crunch</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>$10.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

            <div class="box">
                <img src="~/css/images/B6.jpg" alt="Dish Image">
                <h3>The Truffle Shuffle</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>$15.99</span>
                <a href="MENU" class="btn">order now</a>
            </div>

        </div>

    </section>

</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
