@page
@model KBAGA.Pages.ShopModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KBAGA.styles.css" asp-append-version="true" />
</head>

<div class="container">

    <section class="menu" id="menu">

        <h3 class="sub-heading">Hungry? Have a Bite</h3>
        <h1 class="heading">Burgers Menu</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B1.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>The Classic All-American</h3>
                    <p>A timeless favorite featuring a juicy, 
                        perfectly seasoned beef patty topped with melted cheddar cheese, fresh lettuce, 
                        ripe tomato, tangy pickles, and a dollop of ketchup and mustard, 
                        all nestled in a toasted sesame seed bun.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B2.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>The Mediterranean Marvel</h3>
                    <p>A fusion of flavors with a lamb patty seasoned with Mediterranean spices, 
                        topped with crumbled feta cheese, fresh cucumber slices, red onion, and a tangy tzatziki sauce, 
                        all served on a warm pita bread.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B3.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>Smoky Black BBQ Burger</h3>
                    <p>A savory beef patty grilled to perfection, topped with crispy bacon, smoked gouda cheese, caramelized onions, 
                        and a generous drizzle of smoky BBQ sauce. Served on a soft, charcoal-infused black bun for a visually stunning treat.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B4.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>Truffle Mushroom Black Burger</h3>
                    <p>A gourmet delight featuring a succulent beef patty smothered in sautéed mushrooms, melted Swiss cheese, and caramelized onions. 
                        Complemented by a creamy truffle aioli and served on a toasted bun for an elegant touch.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B5.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>Southern Fried Chicken Burger</h3>
                    <p>Crispy, golden-fried chicken breast topped with creamy coleslaw, pickles, and a drizzle of spicy honey mustard.
                        All nestled in a fluffy buttermilk biscuit for that true Southern charm.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B6.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>The Truffle Shuffle</h3>
                    <p>A gourmet experience with a beef patty infused with truffle oil, topped with creamy brie cheese, arugula, and truffle aioli. 
                        Served on a toasted brioche bun for an extra touch of elegance.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B7.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>The Breakfast Burger</h3>
                    <p>A delicious start to your day with a beef patty, crispy bacon, fried egg, cheddar cheese, 
                        and all topped with a splash of hot sauce and served on a toasted English muffin.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B8.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3> Spicy Jalapeño Crunch</h3>
                    <p>
                        Kick up the heat with this fiery burger! A spicy beef patty topped with pepper jack cheese, 
                        fresh jalapeño slices, crunchy fried onions, and zesty chipotle mayo, 
                        all wrapped in a toasted ciabatta roll.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/B9.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>The Ranchero</h3>
                    <p>A zesty beef patty topped with melted Monterey Jack cheese, fresh avocado slices, 
                        pico de gallo, and a dollop of creamy ranch dressing. Served on a toasted jalapeño cheddar bun.
                    </p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

        </div>

    </section>

</div>



<div>

    <section class="menu" id="menu">

        <h3 class="sub-heading">Thirsty? Have a Drink</h3>
        <h1 class="heading">Drinks Menu</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D1.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D2.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D3.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D4.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D5.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/css/images/D6.jpg" alt="Menu Image">
                </div>
                <div class="content">
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <a href="Checkout" class="btn">add to cart</a>
                    <span class="price">$12.99</span>
                </div>
            </div>

        </div>

    </section>

</div>
